.map {
    position: relative;
    width: 510px;
    height: 510px;
}

.cell {
    display: inline-block;
    background-color: gray;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.cell-last {
    display: inline-block;
    background-color: gray;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid white;
}

.cell-last:last-child {
    border-right: none;
}

.cell:hover {
    cursor: pointer;
}

.cell:last-child {
    border-right: none;
}
